<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user story</title>
</head>
<body>
<h1>USER STORY MANAGER - Add new user story</h1>
<form action="/save" method="post">
    <input type="hidden" name="id" value={{ query[0] }}/>
    Story title:<br> <input type="text" name="title" value={{ query[1] }}> <br>
    User story:<br> <input type="text" name="story" value={{ query[2] }}><br>
    Acceptance criteria: <br> <input type="text" name="criteria" value={{ query[3]}} ><br>
    Buisness value: <br> <input type="number" name="value" step="100" min="100" max="1500" value={{ query[4] }} ><br>
    Estimation time (h): <br> <input type="number" name="time" step="0.5" min="0.5" max="40" value={{ query[5] }} ><br>
    <select name="status" value={{ query[6] }} >
        <option value="planning">Planning</option>
        <option value="todo">To do</option>
        <option value="inprogress">In progress</option>
        <option value="review">Review</option>
        <option value="done">Done</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>